/* general reset */
* {
	margin: 0;
	padding: 0;
	max-height: 10000px;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset { margin: 0 0 14px; }
html, body, div, span, applet, embed, object, iframe, frameset, p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center, h1, h2, h3, h4, h5, h6, b, strong, big, u, ins, i, cite, em, var, dfn, address, s, strike, del, dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt, fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	border: 0;
	background: none;
}
body {
	min-width: 320px;
	color: #205e7f;
	font: 15px/21px 'Open Sans', Arial, Helvetica, sans-serif;
	background: #fff;
}
a {
	text-decoration: none;
	color: #012a51;
}
a:hover { text-decoration: underline; }
input,
textarea,
select {
	font: 100% 'Open Sans', Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
	overflow: auto;
}
label { vertical-align: middle; }
button,
input {
	width: auto;
	overflow: visible;
}
h1,h2,h3,h4,h5,h6,b,strong,th { font-weight: bold; }
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }
i,cite,em,var,dfn,address { font-style: italic; }
u,ins { text-decoration: underline; }
s,strike,del { text-decoration: line-through; }
blockquote,blockquote:before,blockquote:after,q,q:before,q:after { quotes: none; }
blockquote:before,blockquote:after,q:before,q:after { content: ''; }
blockquote { font-style:italic;
font-size:70%;}
table,caption,tbody,tfoot,thead,tr,th,td {
	border-collapse: collapse;
	border-spacing: 0;
}
th,
td {
	border: 1px solid #ccc;
	padding: 3px 7px;
	text-align: left;
	vertical-align: top;
}
th {
	border-color: #999;
	text-align: center;
	vertical-align: middle;
}
ul { margin-left: 1px; }
ul li,
ol li { list-style-position: inside; }
ul li { list-style-type: disc; }
header,footer,article,section,hgroup,nav,figure { display: block; }
figure {
	margin: 0;
	padding: 0;
}
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="search"],
input[type="submit"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	border-radius: 0;
}
body{
	-webkit-text-size-adjust:100%;
}
/* placeholder input styles */
 ::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #999;
}
:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #999;
}
::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #999;
 opacity: 1;
}
:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #999;
}
/* general settings */
/* slideshow  */
.slider-holder{
	height: 100% !important;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.top-section{
	height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;	
}
div.slideshow { position: relative; }
div.slideshow:after {
	display: block;
	content: "";
	clear: both;
}
div.slideshow div.slide {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
}
div.slideshow div.slide.active { z-index: 2; }
div.slideshow img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.slideshow .container {
	position: absolute;
	left: 0;
	bottom: 20%;
	width: 100%;
}
.slideshow .container .holder {
	max-width: 942px;
	margin: 0 auto;
	padding: 0 0 0 18px;
	font-size: 16px;
	text-align: center;
	
}

.caroselpop{
	display:block;
	margin-bottom:0px;
	text-align:center;
	font-weight:bold;
	color:#FFFFFF;
}

.headline {
	display: inline-block;
	height: 41px;
	padding: 27px 0;
	line-height: 41px;
	border: none;
	background: none;
	font-size:24px;
	color:#fff;
	font-weight:bold;
}

.btn-story {
	display: inline-block;
	height: 41px;
	padding: 0 27px;
	line-height: 41px;
	border: 1px solid #fff;
	background: rgba(1, 42, 81, 0.30);
	border-radius: 10px;
	color:#fff;
	font-weight:bold;
}
.btn-play {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -54px 0 0 -54px;
	border: 4px solid rgba(255, 255, 255, 0.6);
	border: 4px solid #fff;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	font-size: 0;
	line-height: 0;
	color: transparent;
}
.btn-play:before {
	content: "";
	display: block;
	width: 25px;
	height: 33px;
	margin: 35px 0 0 43px;
	background: url(../images/sprite-hss.png) no-repeat -81px -21px;
}
/* pagination */
div.pagination {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 15%;
	z-index: 3;
}
div.pagination ul {
	/** max-width: 940px; **/
	margin: 0 auto;
	padding: 0 10px;
	text-align: right;
}
div.pagination li {
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}
div.pagination a {
	display: block;
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	/*border-radius: 50%;*/
	font-size: 0;
	line-height: 0;
	color: transparent;
	background:#fff;
}
div.pagination .active a {
	width: 16px;
	height: 16px;
	border: none;
	background: #012A51;
}
/* header */
#header {
	color: #fff;
	left: 0;
	right: 0;
	z-index:99999;
	position:relative;
	margin-top:40%; 
}
#header > div > div{
	background: #012a51;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 10;
}
#header > div > div.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#header .holder {
	max-width: 940px;
	min-height: 112px;
	margin: 0 auto;
}
#header .holder:after {
	content: "";
	display: block;
	clear: both;
}
/* logo wrap */
.logo-wrap { float: left; }
.logo {
	float: left;
	width: 113px;
	height: 113px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	margin-right: 11px;
	overflow: hidden;
}
.logo a {
	display: block;
	height: 100%;
}
.slogan {
	float: left;
	width: 154px;
	height: 101px;
	padding-top: 12px;
	font-size: 20px;
}
.slogan strong {
	display: block;
	font-weight: 700;
}
/* navbar */
.navbar {
	float: right;
	padding: 20px 51px 0 0;
}
/* social-networks */
.social-networks {
	float: right;
	margin: 0 11px 20px 0;
}
.social-networks li {
	float: left;
	margin-left: 10px;
	list-style: none;
}
.social-networks li:first-child { margin-left: 0; }
.social-networks a {
	display: block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/sprite-hss.png) no-repeat;
}
.facebook a {
	background-position: -24px 0;
	width: 14px;
}
.linkedin a { background-position: -41px 0; }
.twitter a { background-position: -61px 0; }
.youtube a { background-position: -81px 0; }
.foursquare a { background-position: -101px 0; }
.rss a { background-position: -121px 0; }
/* nav */
#nav {
	margin: 0;
	list-style-position: outside;
	font-size: 16px;
	text-align: right;
}
#nav:after {
	display: block;
	content: "";
	clear: both;
}
#nav li {
	display: inline-block;
	list-style: none;
}
#nav a {
	display: block;
	height: 50px;
	padding: 0 10px;
	line-height: 50px;
	color: #bfc5c8;
	border-radius: 5px;
}
#nav a:hover,
#nav .active a {
	background: #011931;
	text-decoration: none;
}
#nav li:first-child {
	padding-left: 0;
	background: none;
}
.open-close-nav { clear: both; }
.open-close-nav .opener {
	float: right;
	width: 36px;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/sprite-hss.png) no-repeat -125px -55px;
	display: none;
}
.open-close-nav .slide {
	top: 100%;
	width: 100%;
}
.open-close div.slide { position: static !important; }
/* main */
/* gallery wrap */
/* background stretcher example styles */
/* wrapper */
#wrapper{overflow: hidden;}
#bg,
#bg1 {
	width: 100%;
	overflow: hidden;
	position: absolute;  /* for mobile devices always use position:absolute */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
#bg img,
#bg1 img { position: absolute; }
#content{
    margin: auto;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 9999;
}
.gallery-wrap {
	position: relative;
	width: 100%;
}
.cycle-gallery-holder{padding: 95px 0 38px;}
/* cycle carousel basic styles */
div.cycle-gallery {
	position: relative;
	max-width: 896px;
	margin: 0 auto;
}
div.cycle-gallery .btn-prev,
div.cycle-gallery .btn-next {
	position: absolute;
	top: 47%;
	margin-top: -28px;
	width: 28px;
	height: 56px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/sprite-hss.png) no-repeat 0 -20px;
}
div.cycle-gallery .btn-prev { left: -48px; }
div.cycle-gallery .btn-next {
	right: -45px;
	background-position: -29px -20px;
}
div.cycle-gallery div.mask {
	position: relative;
	overflow:hidden;
}
div.cycle-gallery div.mask div.slideset {
	width: 99999px;
	float: left;
}
div.cycle-gallery div.mask div.slide {
 /*width: 600px;*/ float: left; 
}
div.cycle-gallery ul {
	margin: 0;
	letter-spacing: -4px;
	text-align: center;
}
div.cycle-gallery li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 160px;
	height: 160px;
	margin: 0 9px 22px;
	overflow: hidden;
	text-align: left;
	letter-spacing: 0;
	background: #012a51;
	border-radius: 2px;
}
div.cycle-gallery li a { color: #fff; }
div.cycle-gallery li a:hover{text-decoration:none;}
div.cycle-gallery li>a {
	position:relative;
	display: block;
	width: 133px;
	height: 124px;
	padding: 18px 13px;
	line-height:19px;
}
div.cycle-gallery li>a span {
	color: #b7c4cb;
	font-size: 13px;
	font-weight: 300;
}
div.cycle-gallery li img { vertical-align: top; }
div.cycle-gallery li:hover .lightbox.hover { 
	display: block;
	width:100%
}
.lightbox.hover img{vertical-align:top;}
div.cycle-gallery li:hover{
	background: rgba(255, 255, 255, 0.8);	 
}
div.cycle-gallery li:hover>a,
div.cycle-gallery li:hover>a span{color: #012a51;}
.lightbox.hover{padding:0; width:100%; height:160px;}
.lightbox.hover .desc {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	width: 138px;
	height: 132px;
	padding: 18px 13px;
	overflow:hidden;
	color: #012a51;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1;
}
div.cycle-gallery .title {
	display: block;
	margin-bottom: 11px;
	font-size: 18px;
	font-weight: 700;
}

.desc .title {
	max-width: 133px;
}
.lightbox.hover span {
	font-size: 13px;
	color: #012a51;
}
.lightbox.hover:hover .desc { display:block; }
.lightbox.hover:hover span,
div.cycle-gallery li:hover>a span { text-decoration: underline; }
/* example lightbox styles */
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
	color: #fff;
}
body > .lightbox {
	width: 100% !important;
	max-width: 950px !important;
	background: url(../images/none.png);
	height:500px;
}
.lightbox p { margin: 0 0 27px; }
.lightbox header {
	max-width: 866px;
	margin: 0 0 42px 4px;
	border-bottom: 2px solid #457792;
	color:#fff;
}
.lightbox .sub-heading {
	font-weight: 400;
	font-size: 14px;
}
.lightbox h1 {
	font-weight: 300;
	font-size: 45px;
	line-height: 50px;
	text-align:left;
}
.lightbox .meta { margin-bottom: 40px; }
.lightbox .meta .name { display: block; }
.lightbox .container {
	padding:0 5.3158% 0 1.3684%;
}
.lightbox aside {
	float: right;
	width: 28.316%;
	margin-left: 6.2105%;
	
	
	top: 30%;
	 left: 53.7%; 
	/*left: 65%;
	width: 15%;*/
}
.lightbox article {
	float: left;
	width: 64.842%;
	padding-bottom: 25px;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	color:#fff;
	font-weight:normal;
}

.lightbox.video aside {
	position: absolute !important;
	right: 1%;
	bottom: initial;
	left: initial;
	top: 1%;
}
.lightbox.video aside .close {
	z-index: 300000;
}

body > .lightbox.video {
	top: 0px!important;
	max-width: 100%!important;
}

.lightbox .video {
	position: relative;
	max-width: 559px;
	margin-bottom: 28px;
	border-radius: 3px;
	overflow: hidden;
}
.video-resize {
	position: absolute;
	right: 9px;
	top: 8px;
	width: 40px;
	height: 40px;
	font-size: 0;
	line-height: 0;
	color: transparent;
	background: rgba(0, 0, 0 , 0.2);
}
.video-resize:before {
	content: "";
	display: block;
	width: 19px;
	height: 18px;
	margin: 11px 0 0 11px;
}
.lightbox .video img {
	width: 100%;
	height: auto;
	vertical-align: top;
	display:block;
}
.lightbox aside a {
	display: block;
	font-weight: 600;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px;
}
.lightbox .btn-request {
	margin-bottom: 15px;
	padding: 19px 0;
	font-size: 16px;
	background: #42c0fb;
}
.lightbox .close {
	min-height: 15px;
	line-height: 16px;
	font-size: 14px;
	padding: 13px 2px;
}
#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
}
#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}
#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}
#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1101;
	outline: none;
	display: none;
	max-width: 950px;
	width: auto !important;
	margin-left: 20px;
	padding: 0;
	color: #fff;
}
#fancybox-close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	z-index: 1103;
	display: none !important;
}
/* location-map */
.location-map header {
	margin-bottom: 71px;
	padding-left: 14.499%;
}
.location-map>.holder {
	max-width: 970px;
	margin: 0 auto;
	padding: 5px;
}
.location-map .container {
	position: relative;
	overflow: hidden;
}
.location-map {
	padding: 65px 0 92px;
	background: #fff;
}
.location-map .sub-heading {
	display: block;
	margin-bottom: -7px;
	font-weight: 400;
	font-size: 14px;
}
.location-map h1 {
	font-weight: 300;
	font-size: 45px;
	line-height: 50px;
	color: #475455;
	text-transform: uppercase;
}
.location-map .container { overflow: hidden; }
.map {
	position: relative;
	padding-right: 19px;
}
.map a {
	position: absolute;
	width: 33px;
	height: 33px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/sprite-hss.png) no-repeat -121px -20px;
}
.pin1 {
	left: 750px;
	top: 300px;
}
.pin2 {
	left: 700px;
	top: 177px;
}
.pin3 {
	left: 176px;
	top: 212px;
}
.pin4 {
	left: 500px;
	top: 207px;
}
.pin5 {
	left: 206px;
	top: 182px;
}
.pin6 {
	left: 224px;
	top: 192px;
}
.pin7 {
	left: 250px;
	top: 242px;
}
.pin8 {
	left: 404px;
	top: 272px;
}
.pin9 {
	left: 422px;
	top: 156px;
}
.pin10 {
	left: 472px;
	top: 172px;
}
.pin11 {
	left: 529px;
	top: 121px;
}
.pin12 {
	left: 754px;
	top: 262px;
}
.annex {
	position: absolute;
	right: 21px;
	top: -3px;
	font-size: 14px;
	z-index: 1;
}
.map img {
	width: 100%;
	height: auto;
}
.index {
	float: right;
	width: 9.98%;
	margin-left: 1.5958%;
}
/* search-wrap */
.search-wrap {
	position: relative;
	width: 100%;
	padding: 67px 0 18px;
}
.search-wrap>.holder {
	max-width: 687px;
	margin: 0 auto;
}
.search-wrap .container { max-width: 600px; }
.search-wrap h2 {
	margin-bottom: 28px;
	font-size: 22px;
	font-weight: 400;
}
/* appointment */
.appointment {
	padding: 78px 0 98px;
	background: #012a51;
}
.appointment>.holder {
	max-width: 687px;
	margin: 0 auto;
}
.appointment .container { width: 83.9884%; }
.twocolumns {
	margin-bottom: 9px;
	overflow: hidden;
}
.search-form {
	float: left;
	width: 277px;
	margin-left: 0;
	padding-left: 0.5172%
}
.search-form input[type="search"]::-webkit-input-placeholder {
 color: #5f6a6a;
}
.search-form input[type="search"]:-moz-placeholder {
 color: #5f6a6a;
}
.search-form input[type="search"]::-moz-placeholder {
 color: #5f6a6a;
 opacity: 1;
}
.search-form input[type="search"]:-ms-input-placeholder {
 color: #5f6a6a;
}
.search-form input[type="search"] {
	display: block;
	/*width: 100%;*/
	width: 257px;
	margin-bottom: 19px;
	padding: 12px 10px;
	font-size: 14px;
	border: none;
	color: #5f6a6a;
	background: #fff;
	border-radius: 3px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.search-form input[type="submit"] {
	display: block;
	width: 100%;
	padding: 10px 0 8px;
	border: none;
	font: 600 14px 'Open Sans', Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
.search-form input[type="submit"]:hover{text-decoration: underline;}
.directory {
	float: left;
	width: 246px;
	padding: 12px 20px 14px 13px;
	margin-left: 3.2759%;
	color: #5f6a6a;
	background: #fff;
	border-radius: 3px;
}
.directory h3 {
	font-size: 14px;
	margin-bottom: 2px;
}
.directory a { color: #5f6a6a; }
.directory ul {
	font-size: 17px;
	margin: 0;
}
.directory li {
	display: inline-block;
	padding: 0 2px 4px 1px;
	font-weight: 300;
	list-style: none;
	letter-spacing: 0;
}
.info { margin-bottom: 15px; }
.info h3,
.consult h3 {
	margin: 0;
	font-size: 15px;
	font-weight: 700;
}
.info h3 a,
.consult h3 a {
	text-decoration: underline;
	color: #205e7f;
}
.info h3 a:hover,
.consult h3 a:hover{text-decoration: none;}
/* appointment */
.appointment h2 {
	margin-bottom: 27px;
	font-size: 22px;
	font-weight: 400;
	color: #fff;
}
.appointment-form {
	max-width: 594px;
	margin: 0;
	overflow: hidden;
}
.appointment-form .row {
	overflow: hidden;
	margin-bottom: 5px;
}
.appointment-form input[type="text"],
.appointment-form input[type="email"] {
	float: left;
	width: 254px;
	margin: 0 19px 15px 0;
	padding: 10px 14px 8px 10px ;
	border: 0;
	color: #c6cbcb;
	background: #fff;
	border-radius: 3px;
}
.appointment-form input[type="text"]::-webkit-input-placeholder, .appointment-form input[type="email"]::-webkit-input-placeholder {
 color: #c6cbcb;
}
.appointment-form input[type="text"]:-moz-placeholder, .appointment-form input[type="email"] {
 color: #c6cbcb;
}
.appointment-form input[type="text"]::-moz-placeholder, .appointment-form input[type="email"]::-moz-placeholder {
 color: #c6cbcb;
 opacity: 1;
}
.appointment-form input[type="text"]:-ms-input-placeholder, .appointment-form input[type="email"]:-ms-input-placeholder {
 color: #c6cbcb;
}
.appointment-form input[type="submit"] {
	float: left;
	width: 278px;
	padding: 9px 19px 9px 0;
	font-size: 14px;
	font-weight: 600;
	clear: both;
	border: 0;
	cursor: pointer;
	color: #fff;
	background: #01203e;
	border-radius: 3px;
}
.appointment-form input[type="submit"]:hover{text-decoration: underline;}
#popup1 .description{
	overflow:auto;
	height:100%;
}
/* footer */
#footer {
	font-size: 14px;
	padding: 45px 0;
	background: #e8e7da;
}
#footer h3 {
	margin-bottom: 8px;
	font-size: 13px;
	font-weight: 700;
	color: #383838;
	padding-left: 3px;
}
/* threecolumns */
#footer .threecolumns {
	max-width: 900px;
	margin: 0 auto;
	padding-right: 3%;
	overflow: hidden;
}
#footer .threecolumns .right{
	float: right;
	width: 66.6%;
}
#footer .threecolumns .col {
	float: left;
	width: 31.11111111%;
	margin-right: 2.2222%;
}
#footer .threecolumns .first-col {
	width: 30.77%;
	padding: 5px 0 0 0.332%;
}
#footer .threecolumns .first-col .logo{margin-right:9px;}
#footer .threecolumns .first-col .slogan{color:#012a51;}
#footer .threecolumns .foo-nav {
	width: 47.4%;
	padding-left: 0.3%;
}
#footer .threecolumns .last-col {
 	width: 41.66%
}
.foo-nav ul { margin: 0; }
.foo-nav li {
	margin-bottom: 5px;
	list-style: none;
}
.foo-links { margin-bottom: 32px; }
.foo-links ul { margin: 0; }
.foo-links li {
	margin-bottom: 5px;
	list-style: none;
}
.social-share{
	width:145%;
	margin-right:-45%;
	position:relative;
}
.socials { margin-bottom: 27px; }
#footer .social-networks {
	float: none;
	margin: 0;
	overflow: hidden;
}
#footer .social-networks li:first-child{margin: 0;}
#footer .social-networks li {
	position: relative;
	left: -2px;
	margin-left: 8px;
	float: left;
	list-style: none;
}
#footer .social-networks a {
	display: block;
	width: 17px;
	height: 17px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/sprite-hss.png) no-repeat;
}
#footer .facebook a { background-position: -61px -20px; }
#footer .twitter a { background-position: -61px -37px; }
#footer .linkedin a { background-position: -61px -71px; }
#footer .youtube a { background-position: -61px -54px; }
#footer .foursquare a { background-position: -61px -88px; }
#footer .wordpress a { background-position: -242px -2px; }

.video object {
	margin:0;
}

.overlay[style]{
	z-index:99999;
}

.lightbox[style] {
	z-index: 100000 !important;
}

article .video .BrightcoveExperience {
min-height: 315px;
}

.copyright {
	margin-top:30px;
	font-size: 80%;
	clear:both;
	float:left;
}

.overlay {
	width:100% !important;
	background-color: #666 !important;
	opacity:0.9 !important;
}

.wistia-fancybox .fancybox-opened {
	top:20px !important;
}

.fancybox-wrap, .fancybox-outer, .fancybox-inner {
	width: 1067px !important;
	height: 600px !important;
}

#fancybox-overlay {
	background: #205E7F !important;
	opacity:0.9 !important;
}

.country_wrap {
	width:100%;
	max-width:850px;
	margin:0 auto;
}

.country-column {
	float:left;
	width:20%;
	max-width: 150px;
	font-size:12px;
	margin-bottom: 20px
}

.country-column-last {
	min-width: 0px;
}

.country-column-first {
	margin-left:80px;
}

.country-column-four {
	max-width:160px;
}

.map h1 {
	font-size: 24px;
	line-height: 28px;
	color:#012A51;
	text-transform: none;
	max-width: 850px;
	margin:20px 0 20px 130px;
}

.lightbox aside a.close.mobile {
	display:none !important;
}

@media only screen and (min-width: 1750px) {
	.fancybox-wrap, .fancybox-outer, .fancybox-inner {
	width: 1244px !important;
	height: 700px !important;
}
}

@media only screen and (max-width: 1600px) {
	.fancybox-wrap, .fancybox-outer, .fancybox-inner {
	width: 889px !important;
	height: 500px !important;
}
}

@media only screen and (max-width: 1350px) {
	.fancybox-wrap, .fancybox-outer, .fancybox-inner {
	width: 711px !important;
	height: 400px !important;
}
}

@media only screen and (max-width: 1100px) {
	.fancybox-wrap, .fancybox-outer, .fancybox-inner {
	width: 553px !important;
	height: 300px !important;
}

	.overlay[style] {
		opacity:1 !important;
	}
}

@media only screen and (max-width: 620px) {
	.fancybox-wrap, .fancybox-outer, .fancybox-inner {
	width: 356px !important;
	height: 200px !important;
}
}

@media only screen and (max-width: 400px) {
	.fancybox-wrap, .fancybox-outer, .fancybox-inner {
	width: 250px !important;
	height: 141px !important;
	}

	#fancybox-overlay {
		max-height: 568px;
	}

	.wistia-fancybox .fancybox-opened[style] {
		top: 200px !important;
	}
}

@media only screen and (min-width: 1025px) {
	body > .lightbox {
		border: none;
		padding: 5px;
		box-shadow: 0px 0px 40px #000;
		background: #205E7F;
		top:20px !important;
		height: 670px !important;
		overflow:hidden;
	}

	.lightbox > .container {
		overflow-y: scroll;
		height: 500px;
	}
}

@media only screen and (min-height: 850px) {
	body > .lightbox {
		top:100px !important;
	}
}

@media only screen and (min-width: 980px) {
	.lightbox > .container {
		position: relative;
	}
	.lightbox aside {
		top: 0;
		right: 0;
		position: static !important;
/* 		margin-top: 3%;
		float: right;
		left: 50%;
		margin-left: 1%; */
	}

}


@media only screen and (max-width: 979px) {

	.lightbox {
		overflow-y: hidden;
		height:auto;
	}

	.lightbox aside {
		margin-left: 10%;
	}

	#header{
		/*position: absolute;*/
		position: fixed;
		-webkit-transform: translateZ(0);
		top: 0;
		left: 0;
		right: 0;
		z-index: 99999;
		margin:0;
	}
	.top-section{
		position:relative;
		margin:112px 0 0;
	}
	.navbar {
		float: right;
		width: 60%;
		padding: 20px 20px 0 0;
		position: relative;
	}
	div.cycle-gallery .title{font-size: 16px;}
	div.cycle-gallery{padding: 0 0 40px 3px;}
	.open-close .opener {
		display: block;
		height: 40px;
	}
	div.cycle-gallery .btn-next{right: -29px;}
	div.cycle-gallery .btn-prev{left: -29px;}
	#nav li:first-child{
		border:none;
		padding: 0 10px;
	}
	#content{z-index:999;}
	.open-close div.slide{
		position: absolute !important;
		right: 20px;
		top: 100%;
		width: 100%;
		background: #fff;
		clear: both;
		z-index: 3;
		border-radius: 5px 0 0 5px;
	}
	.open-close-nav {
		float: right;
		clear: none;
	}
	div.pagination {bottom: 3%;	}
	.slideshow .container {bottom: 1.1%;}
	#nav{padding: 10px 0;}
	#nav a{padding: 0 10px;}
	.social-networks { float: left; }
	#nav { text-align: left; }
	#nav li {
		display: block;
		float: none;
		margin-left: 0;
		padding: 0 10px;
		overflow: hidden;
		border-top: 1px solid #f0f0f0;
		text-align: left;
		vertical-align: top;
		background: none;
	}
	.search-wrap .container{max-width: 100%;}
	.appointment > .holder{max-width: 594px;}
	.location-map{padding: 41px 0 80px;}
	.location-map > .holder { max-width: 768px; }
	.map a {
		width: 26px;
		height: 26px;
		background-position: -154px -20px;
	}
	.country-column-first {margin-left:0;}
	.annex { display: none; }
	.pin1 {
		left: 106px;
		top: 153px;
	}
	.pin2 {
		left: 129px;
		top: 141px;
	}
	.pin3 {
		left: 140px;
		top: 168px;
	}
	.pin4 {
		left: 162px;
		top: 164px;
	}
	.pin5 {
		left: 163px;
		top: 145px;
	}
	.pin6 {
		left: 177px;
		top: 152px;
	}
	.pin7 {
		left: 198px;
		top: 192px;
	}
	.pin8 {
		left: 320px;
		top: 216px;
	}
	.pin9 {
		left: 334px;
		top: 124px;
	}
	.pin10 {
		left: 374px;
		top: 136px;
	}
	.pin11 {
		left: 419px;
		top: 96px;
	}
	.pin12 {
		left: 597px;
		top: 208px;
	}
	#footer .threecolumns{
		padding-left: 3%;
		padding-right:8%;
	}
	#footer .threecolumns .first-col{
		width: 37.77%;
	}
	#footer .threecolumns .first-col .logo {
    margin-right: 5px;
}
	#footer .threecolumns .right{
		width: 59.6%;
	}
	#footer .threecolumns .last-col{width: 43.66%;}
	
	/* body > .lightbox.video {
		top: 113px!important;
	} */

	.wistia-fancybox .fancybox-opened {
		top:150px !important;
	}
}
@media only screen and (max-width: 767px) {

	.lightbox aside a.close.mobile {
		display:inline-block !important;
	}

	.lightbox .container {
    padding: 0 4%;
    overflow: visible;
    padding-bottom: 200px;
	}
	#wrapper{
		position: relative;
	}
	.slideshow .container{bottom: 18px;}
	.slideshow .container .holder{text-align: center;}
	.pagination{display: none;}
	.cycle-gallery-holder{padding-top: 45px;}
	.open-close .opener {
	 display: block !important; 
	 margin-right: 20px;
	}
	.slide.js-slide-hidden { display: none !important; }
	.open-close-nav { clear: none; }
	.open-close-nav nav { text-align: left; }
	.open-close-nav .slide { clear: both; }
	.navbar {
		padding: 17px 11px 10px 17px;
		background: #fff;
		clear: both;
		float: none;
		width: auto;
	}
	.navbar:after {
		content: "";
		display: block;
		clear: both;
	}
	#nav li:first-child {
		border-top: none;
		padding: 0 15px 0 10px;
	}
	.social-networks {
		float: left;
		margin: 5px 0 0 1px;
	}
	.social-networks li{margin-left: 17px;}
	#nav li{padding: 0 10px;}
/*	div.cycle-gallery{padding: 0;}*/
	.open-close div.slide{right: 0;}
	.social-networks li { margin-left: 16px; }
	.facebook a { background-position: -141px 0; }
	.twitter a { background-position: -181px 0; }
	.youtube a { background-position: -201px 0; }
	.linkedin a { background-position: -161px 0; }
	.foursquare a { background-position: -221px 0; }
	.rss a { background-position: -241px 0; }
	#nav {
		float: none;
		padding: 10px 0;
	}
	#nav li {
		display: block;
		float: none;
		margin-left: 0;
		padding: 0 15px 0 10px;
		overflow: hidden;
		border-top: 1px solid #f0f0f0;
		text-align: left;
		vertical-align: top;
		background: none;
	}
	#nav li a {
		display: block;
		padding: 10px;
	}
	.top-section{margin:113px 0 0;}
	.navbar { display:none; }
	.location-map > .holder { max-width: 98%;}
	.country-column {font-size: 11px; width:140px; min-width: 140px; margin-left:10px;}
	.map h1 {font-size: 18px; line-height: 22px; max-width: 90%; margin:0 auto; margin-bottom:20px;}
	.map h1 strong {display:inline-block; clear:both;}
	.map a {
		width: 11px;
		height: 11px;
		background-position: -181px -21px;
	}
	.directory{margin: 0 auto 20px; float: none;}
	.info,
	.consult,
	.appointment-form,
	.appointment h2{padding: 0 5%;}
	.annex { display: none; }
	.pin1 {
		left: 44px;
		top: 63px;
	}
	.pin2 {
		left: 53px;
		top: 58px;
	}
	.pin3 {
		left: 57px;
		top: 70px;
	}
	.pin4 {
		left: 66px;
		top: 68px;
	}
	.pin5 {
		left: 67px;
		top: 60px;
	}
	.pin6 {
		left: 73px;
		top: 63px;
	}
	.pin7 {
		left: 82px;
		top: 79px;
	}
	.pin8 {
		left: 132px;
		top: 90px;
	}
	.pin9 {
		left: 138px;
		top: 52px;
	}
	.pin10 {
		left: 155px;
		top: 56px;
	}
	.pin11 {
		left: 173px;
		top: 40px;
	}
	.pin12 {
		left: 248px;
		top: 86px;
	}
	div.cycle-gallery li{margin: 0 2px 2px 0;}
	.search-form{
		padding: 0 21px;
		float: none;
		margin: 0 auto 14px;
		overflow: hidden;
	}
	#footer{padding-top: 32px;}
	#footer .threecolumns .right{
		width: auto;
		float: none;
		padding: 0 7px;
	}
	#footer .threecolumns .col.last-col{
		display: block;
		width: 100%;
	}
	#footer .threecolumns .first-col{
		float: none;
		display: block;
		clear: both;
		width: 100%;
		overflow: hidden;
	}
	#footer .threecolumns .foo-nav{
		float: none;
		width: 100%;
	}
	.foo-nav li{margin-bottom: 8px;}
	#footer h3{
		display: none;
	}
	.foo-links{
		margin-bottom: 44px;
	}
	.social-share{display: none;}
	div.cycle-gallery li{
		margin: 0 2px 2px 0;
		width: 143px;
		height: 143px;
	}
	.appointment-form{padding: 0 21px; max-width: 100%;}
	.appointment-form input[type="text"], .appointment-form input[type="email"]{
		width: 100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin: 0 0 16px;
	}
	.appointment-form input[type="submit"]{
		float: none;
		width: 100%;
	}
	.appointment-form .row{margin-bottom: 14px;}
	#footer .threecolumns .first-col{margin-bottom: 20px;}
	#footer .threecolumns{padding: 0 12px ;}
	.socials{margin-bottom: 34px;}
	#footer .social-networks a {
		width: 20px;
		height: 20px;
	}
	#footer .social-networks li{margin-left: 16px;}
	#footer .facebook a { background-position: -144px 0; width: 13px;}
	#footer .twitter a { background-position: -181px 0; }
	#footer .linkedin a { background-position: -160px 0; }
	#footer .youtube a { background-position: -201px 0; }
	#footer .foursquare a { background-position: -221px 0; }
	#footer .wordpress a { background-position: -241px 0; }
	.lightbox article{
		float: none;
		width: auto;
		padding-left: 20px;
	}
	.lightbox aside{
		float: none;
		width: auto;
		margin: 0 0 20px 20px;

		position: relative !important;
		left: 0;
	}
	.lightbox .btn-request {
		display: inline-block;
		padding: 19px;
	}
	.lightbox .close {
		display: inline-block;
		padding: 22px;
		font-size: 13px;
		margin-left: 20px;
	}
	
	#nav a{
		height: 30px;
		line-height: 30px;
	}
	div.cycle-gallery li > a{
		padding: 18px 5px 18px 10px;
	}
	.lightbox.hover .desc{
		padding: 14px 10px;
		width: 123px;
		height: 115px;
	}
	.search-wrap h2{padding-left: 11px;}
	.search-form input[type="search"]{
		margin-bottom: 19px;
	}
	.info{margin-bottom: 43px;}
	.search-form input[type="submit"]{margin-bottom: 12px;}
	.location-map header{padding: 0 5px 2px; margin-bottom: 18px;}
	.location-map .sub-heading{
		margin-bottom: -3px;
	}
	.map{
		padding-right: 0;
	}
	div.cycle-gallery .btn-prev, div.cycle-gallery .btn-next{display: none;}
	.search-wrap{padding-bottom: 67px;}
	.appointment{padding: 54px 0 82px;}
	
	/* body > .lightbox.video {
		top: 113px!important;
	} */

	.wistia-fancybox .fancybox-opened {
		top:200px !important;
	}

}
@media only screen and (max-width: 480px) {
		#header{
		/*position: absolute;*/
		position: fixed;
		-webkit-transform: translateZ(0);
		top: 0;
		left: 0;
		right: 0;
		z-index: 9998;
		margin:0;
	}
	
	.slideshow .container .holder{
		padding:0;
	}
	.lightbox aside {margin:0 auto;}


	.lightbox article {padding:0;}
	.lightbox .close {margin:0 0 15px;}
	div.cycle-gallery li > a{
		padding: 18px 7px;
		width:130px;
		line-height:16px;
	}
	
		.lightbox {
		min-height: 100%;
	}
		
	/* body > .lightbox.video {
		top: 180px!important;
	} */

	article .video .BrightcoveExperience {
		min-height: 150px;
	}


}
.disabled-scroll{
	overflow: hidden;
	position: relative;
	height: 100%;
}