@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

a.lightbox.hover.nostory
{
    width: 133px;
    height: 124px;
    padding: 18px 13px;
}
a.lightbox.hover.nostory:hover > strong.title{ display: none; }
a.lightbox.hover.nostory > div.desc { left:0;}
a.lightbox.hover.nostory > div.desc > div.strong.title{ font-size:19px; }

div.lightbox aside {/*top: 30%;left: 53.7%;width: 15%;*/}  /*top: 30%;left: 50.7%;width:14%;*/
div.lightbox.carouselpop{top:50px;}
div.lightbox.carouselpop aside {top: 20%;left: 51.2%;width: 14%;}
.inactive{/*display:none;*/}

section#request-appointment a.apptbtn 
{
    float: left;
    width: 278px;
    padding: 12px 6px 12px 6px;
    font-size: 14px;
    font-weight: 600;
    clear: both;
    border: 0;
    cursor: pointer;
    color: #fff;
    background: #01203e;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;
}

section#request-appointment .holder p { color: #fff; margin-left: 2px; font-size:22px;}
section#request-appointment .holder p span{font-size:14px;}

a#psearch
{
    display: block;
	width: 100%;
	padding: 10px 0 8px;
	border: none;
	font: 600 14px 'Open Sans', Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
    text-align:center;
}
a#psearch:hover,section#request-appointment a.apptbtn:hover{text-decoration: underline;}
.lightbox.btn-story.video{/*display:none;*/}

div.lightbox::-webkit-scrollbar
{
  display: none;
}

div.lightbox::-webkit-scrollbar-track
{
  display: none;
}

div.lightbox::-webkit-scrollbar-thumb
{
  display: none;
}

#map a:hover {text-decoration:none;}
#map .map a.lightbox{position:static;background: none;}

/*div#header{-webkit-transform: translateZ(0);}*/
