body{min-width: 980px;}
.btn-story ,.btn-story span{
background: url(../images/sprite-hss.png) 100% -149px;
padding: 0 16px 2px 0;
border:none;
}
.btn-story span {
background-position:0 -193px;
padding: 3px 11px 3px 27px;
display: inline-block;
}
/*div.pagination a {
	background: url(../images/sprite-hss.png) 0 0;
	height:10px;
	width:10px;
}
div.pagination .active a {
	background: url(../images/sprite-hss.png) -11px 0;
	background-color:transparent;
}*/
.search-form input[type="submit"] {background: url(../images/sprite-hss.png) 0 -149px;}
div.cycle-gallery li:hover,
.lightbox.hover .desc{
	background:#fff;
	filter:alpha(opacity=80);
}

/* Make HTML 5 elements display block-level for consistent styling */  
header, nav, article, footer, address, aside {   
    display: block;   
}
#header {
	z-index: 8999;
}
.caroselpop aside, .lightbox aside {
	max-width: 276px;
}

.fancybox-wrap, .fancybox-outer, .fancybox-inner {
	width: 711px !important;
	height: 400px !important;
}

body > .lightbox {
		border: none;
		padding: 5px;
		box-shadow: 0px 0px 40px #000;
		background: #205E7F;
		top:20px !important;
		overflow:hidden;
		height: 670px !important;
	}

.lightbox > .container {
		overflow-y: scroll;
		height: 500px;
	}

.overlay {
	width:100% !important;
	background-color: #666 !important;
	opacity:0.9 !important;
}